body{
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}

.upper-container{
    background-color: #FFE382;
    padding-top: 40px;
    height: 700px;
   }

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#ED7D31;
}

.right ul{
    display: flex;
    justify-content: center;
}

.nav ul li{
    list-style-type: none;
    margin: 0 23px;
    font-family: "Montserrat", sans-serif;
}

.left{
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
}

.right li a{
    color:#ED7D31;
    text-decoration: none;
    font-size: 1rem;
    
}

.right li a:hover{
        transform: translate(-4px,-4px);
        color: white;
}

@media (max-width: 1250px){
    .nav{flex-direction: column;
    }
    .nav ul{
        flex-direction: column;
    }
}

.container0{
   display: flex;
   justify-content: space-around;
   margin: 50px 0;
}

.leftsection{
    color: #F99417;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.leftsection h1{
    margin-bottom: 0px;
    font-family: 'Helvetica Neue';
}

.rightsection img{
    width: 80%;
    margin: 30px 0;
}

.title-text2{
    color: #F99417;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

span{
    text-decoration: underline;
}

@media (max-width: 1250px){
    .container0{
        align-items: center;
        margin: 0;
        flex-direction: column;
        gap: 10px;
    }

    .leftsection{
        margin: 0;
    }

    .rightsection img{
        height: 300px;
    }
}

.middle-container{
    margin: 200px 0;
    margin-top:0px;
    margin-bottom: 100px;
}

@media (max-width: 1250px){
    .middle-container{
        margin: 0;
    }
}

.info{
    color: #F99417;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.about{
    width: 500px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.profile-pic{
  height: 300px;
  border-radius: 50%;
}

.container{
    background-color:#fff8cb;
    display: flex;
    justify-content:flex-end;
    justify-content: space-evenly;
    height: 50vh;
    align-items: center;
    gap: 50px;  
    padding-top: 50px;
}

.card{
    max-width: 400px;
    height: 400px;
}

.card img{
    margin-top: 50px;
}

@media (max-width: 1250px){
    .container{
        flex-direction: column;
        height: 100%;
    }
    .card{
        height: auto;
    }
}

.container1{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    gap: 50px;
}

.card1{
    text-align: center;
    background-color: white;
    border: 3px solid #FFE382;;
    padding: 20px;
    border-radius: 25px;
    max-width: 350px;
    flex: 1;
    height: 400px;
   }

.card1:hover {
    transform: translate(-4px,-4px);
    box-shadow: 4px 4px #F99417;
    background-color: #FFE382;
    border:3px solid #FFE382;
}

@media (max-width: 1250px){
    .card1{
        height: 50px;
        width: 100%;
    }
}

.skills{
    color: #F99417;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.skill-img{
    height: 100px;
    
}

.skill-title{
    color: #F99417;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}

.skill-para{
    margin-bottom: 20px;
    text-align: justify;
    margin-top: 60px;
}

.cp-para{
    margin-top: 20px;
}

@media (max-width: 1250px){
    .container1{
        flex-direction: column;
        height: 100%;
    }
}

.work{
    color: #F99417;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.project-img{
    height: 300px;
    width: 400px;
    border-radius: 5px;
}

.project-title{
    color: #F99417;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.container2{
    display: flex;
    justify-content:flex-end;
    justify-content: space-evenly;
    height: 80vh;
    align-items: center;
    gap: 50px;
}

.card2a{
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    flex: 1;
    height: 400px;
}

.sc1{
    background-color: #e81f1f;
}

.sc2{
    background-color: #7c40d1;
}

.sc3{
    background-color: #009dff;
}

@media (max-width: 1250px){
    .container2{
        flex-direction: column;
        height: 100%;
    }
}

.container3{
    display: flex;
    justify-content:flex-end;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    height: 80vh;
    align-items: center;
    gap: 50px;
}

.card2b{
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    flex: 1;
    height: 400px;
}

@media (max-width: 1250px){
    .container3{
        flex-direction: column;
        height: 100%;
    }
}

.container4{
    display: flex;
    justify-content:flex-end;
    justify-content: space-evenly;
    height: 80vh;
    align-items: center;
    gap: 50px;
}

.card2c{
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    flex: 1;
    height: 400px;
}

@media (max-width: 1250px){
    .container4{
        flex-direction: column;
        height: 100%;
    }
}

.container5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    align-items: center;
}

.card2d{
    padding: 20px;
    max-width: 400px;
    flex: 1;
}

@media (max-width: 1250px){
    .container5{
        flex-direction: column;
        height: 100%;
    }
}

.lower-container{
    background-color: #FFE382;
}

.footer-link{
  margin: 10px;
}

.container6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    align-items: center;
}

.contact-title{
    color: #F99417;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.contact-para{
    color: #FFB000;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.contact-btn{
    text-transform: uppercase;
    color: white;
    background-color: #EE7214;
    border: none;
    padding: 15px;
    font-size: 17px;
    border-radius: 5px;
    width: 150px;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
}

.footer-link{
    color: #F99417;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.card3 p{
    color: white;
    font-size: 1rem;
    padding: 20px 0;
}